<template>
    <div class="footer">
        <div class="footer-wrapper">
            <img src="../assets/footer.png" alt="on peut mettre ce qu'on veut" />
            <!--<iframe width="400" height="207" src="https://www.youtube.com/embed/qmtWgkxMlRw?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        --></div>
    </div>
</template>

<script>
    export default {
        name: 'AppFooter'
    }
</script>


<style>
    .footer { background-color: #07208e; }
    .footer-wrapper { width: 1200px; display: flex; justify-content: center; margin: 0 auto; align-items: start; }
    .footer-wrapper img { width: 400px; height: auto }
</style>