<template>
    <div class="home-wrapper">
        <img class="temoignage-jul" src="../assets/jul-temoigne.jpg" alt="temoignage de jul" />
    </div>
</template>

<style>
    .home-wrapper {  }
</style>