<template>
    <div class="header">
        <div class="header-wrapper">
            <img alt="JuListe2course logo" src="../assets/logo.png" class="logo">
            <div class="header-links-list">

                <router-link to="/">Accueil</router-link> |
                <router-link to="/listing">Liste</router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'AppHeader'
    }
</script>

<style>
    .header { background-color: #07208e; padding: 15px 0}
    .header-wrapper { width: 1200px; display: flex; justify-content: space-between; margin: 0 auto; align-items: center; }
    .logo { width: 400px; height: auto; }
    .header-links-list { margin: auto 20px; }
    .header-links-list a { color: #fff; text-decoration: none;}
    .header-links-list a:hover { color: #e10093; }
</style>