<template>
    <div class="listing">
        <h1>Mes listes de courses</h1>
        <div v-for="(item, index) in listes" :key="index" class="row-liste">
            <ResumeList :item="item" />
        </div>
        <div class="listing-links">
            <router-link to="/new">➕ Ajouter une liste</router-link>
            <button @click="deleteAll">❌ Supprimer toutes les listes</button>
        </div>
    </div>
</template>

<script>
    import ResumeList from './AppResumeList.vue'

    export default {
        name: 'Listing',
        data: () => ({
            listes: []
        }),
        components: {
            ResumeList,
        },
        mounted() {
            this.listes = JSON.parse(localStorage.getItem('JuListes')) || [];
        },
        methods: {
            removeFromList(id) {
                const index = this.listes.findIndex(list => list.id === id);
                this.listes.splice(index, 1); 
            },
            deleteAll() {
                if (confirm("Sûr de vouloir tout supprimer ?")) {
                    this.listes = [];
                    localStorage.setItem('JuListes', JSON.stringify(this.listes));
                }
            }
        },
        watch: {
            listes: {
                handler() {
                    localStorage.setItem('JuListes', JSON.stringify(this.listes));
                },
                deep: true
            }
        }
    }
</script>

<style>
    .listing { display: flex; flex-direction: column; align-items: center; }
    .listing-links { display: flex; justify-content: space-around; margin-top: 20px;}
    .listing-links a,
    .listing-links button {
        background-color: #e10093;
        color: #fff;
        padding: 10px 15px;
        border: 0;
        border-radius: 5px;
        font-size: 15px;
        text-decoration: none;
        margin: 0 10px;
    }
    .listing-links a:hover,
    .listing-links button:hover {
        background-color: #cc0085;
        text-decoration: none;
        cursor: pointer;
    }
</style>