<template>
    <div>
        <h1>Nouvelle liste</h1>
        <div class="add-list">
            <div class="add-list-form">
                <label for="name">Nom de la liste : </label>
                <input v-model="form.name" id="name" type="text" placeholder="nom de la liste" maxlength="35" />
            </div>
            <button @click="newList">Ajouter</button>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'NewListe',
        data: () => ({
            form: {
                name: ''
            }
        }),
        methods: {
            newList() {
                let listes = JSON.parse(localStorage.getItem('JuListes')) || [];
                let rand = Math.floor(Math.random() * 100) + 1;
                const newList = {
                    id: this.form.name + rand,
                    name: this.form.name,
                    items: []
                };
                listes.push(newList);
                localStorage.setItem('JuListes', JSON.stringify(listes));
                this.$router.push({ name: 'listing'});
            }
        },
    }
</script>

<style>
    .add-list-form { margin-bottom: 20px; }
    .add-list-form input[type=text] { border-radius: 5px; border: 2px solid #e10093; padding: 10px 15px; }
    .add-list button {
        background-color: #e10093;
        color: #fff;
        padding: 10px 15px;
        border: 0;
        border-radius: 5px;
        font-size: 15px;
        text-decoration: none;
    }
    .add-list button:hover {
        background-color: #cc0085;
        text-decoration: none;
        cursor: pointer;
    }
</style>