<template>
    <router-link :to="{ name: 'list', params: {listId: item.id } }">
        <div class="course-item">
            <img src="../assets/cabat.jpg" alt="cabat jul">
            <div class="item-text">
                <span class="item-name">🛒 {{ item.name }}</span>
                <span class="item-combien">🛍️ {{ item.items.length }} trucs dedans</span>
            </div>
        </div>
    </router-link>
</template>

<script>
    export default {
        name: 'ResumeList',
        props: ['item'],
        data: () => ({
        }),
        computed: {
        },
        methods: {
            removeFromList(id) {
                this.$parent.removeFromList(id);
            }
        }
    }
</script>

<style>
    .row-liste > a { text-decoration: none !important; }
    .course-item {
        display: flex;
        align-items: center;
        border: 2px solid #e10093;
        border-radius: 10px;
        min-width: 500px;
        margin: 10px auto;
    }
    .course-item img { width: 180px; height: auto; border-radius: 10px}
    .course-item .item-text { display: flex; flex-direction: column; align-items: start; text-decoration: none }
    .course-item .item-text .item-name,
    .course-item .item-text .item-combien { text-decoration: none; color: #000; margin: 10px 0;}
    .course-item:hover .item-text .item-name,
    .course-item:hover .item-text .item-combien { text-decoration: none; color: #e10093 }
    .course-item .item-text .item-name { font-size: 25px; }

</style>