<template>
    <div class="view-course-item">
        <div class="item-text">
            <span class="item-name">{{ item.text }}</span>
            <button class="delete-elem" @click="deleteElem">❌ supprimer</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'ResumeList',
        props: ['item'],
        data: () => ({
            list: []
        }),
        computed: {
        },
        mounted() {
            this.list = JSON.parse(localStorage.getItem('JuListes')) || [];
        },
        methods: {
            deleteElem() {
                var indexList = this.list.findIndex(x => x.id === this.$route.params.listId);
                var itemIndex = this.list[indexList].items.findIndex(x => x.text === this.$props.item.text);

                this.list[indexList].items.splice(itemIndex, 1);

                localStorage.setItem('JuListes', JSON.stringify(this.list));

                /*
                Ceci est un hack
                Mon component ne se reload pas quand je modifie la liste et le localstorage
                 */
                location.reload();
            }
        }
    }
</script>

<style>
    .view-course-item {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 500px;
        margin: 10px auto;
    }
    .view-course-item .item-text { display: flex; justify-content: center; align-items: center;
        border: 2px solid #e10093;
        border-radius: 10px; padding: 5px}
    .delete-elem {
        background-color: #e10093;
        color: #fff;
        padding: 10px 15px;
        border: 0;
        border-radius: 5px;
        font-size: 15px;
        text-decoration: none;
        margin: 0 10px;
    }
    .delete-elem:hover {
        background-color: #cc0085;
        text-decoration: none;
    }
</style>