<template>
    <div class="view-list">
        <router-link :to="{ name: 'listing' }">
            🔙 retour
        </router-link>
        <div class="list">
            <h1>🛒 {{ this.list.name }}</h1>
            <img v-if="this.list.items.length === 0" src="../assets/nodata.jpg" />
            <div v-for="(item, index) in list.items" :key="index" class="row-item">
                <ResumeItem :item="item" />
            </div>
        </div>
        <div class="add-elem">
            <label for="addelem">Ajouter un elem à la liste : </label>
            <input id="addelem" v-model="item" type="text" />
            <button @click="addElemList">Ajouter</button>
        </div>
        <button class="delete-list" @click="deleteList">Supprimer la liste</button>
    </div>
</template>

<script>
    import ResumeItem from "./AppResumeItem";

    export default {
        name: 'ViewList',
        data: () => ({
            list: [],
            item: ''
        }),
        components: {
            ResumeItem,
        },
        mounted() {
            const lists = JSON.parse(localStorage.getItem('JuListes'));
            this.list = lists.find(list => list.id === this.$route.params.listId);
        },
        methods: {
            removeFromList() {

            },
            addElemList() {
                if (this.item === '') {
                    alert('merci de renseigner un nom');
                } else {
                    var tmp = {text: this.item, toBuy: true};
                    this.list.items.push(tmp);

                    var lsLists = JSON.parse(localStorage.getItem('JuListes'));
                    var indexList = lsLists.findIndex(x => x.id === this.$route.params.listId);
                    lsLists[indexList] = this.list;

                    localStorage.setItem('JuListes', JSON.stringify(lsLists));

                    this.item = '';
                }
            },
            deleteList() {
                if (confirm("Sûr de vouloir supprimer cette belle liste ?")) {
                    var lsLists = JSON.parse(localStorage.getItem('JuListes'));
                    var indexList = lsLists.findIndex(x => x.id === this.$route.params.listId);
                    lsLists[indexList] = this.list;

                    lsLists.splice(indexList, 1);

                    localStorage.setItem('JuListes', JSON.stringify(lsLists));

                    this.$router.go(-1);
                }
            }
        }
    }
</script>

<style>
    .add-elem { display: flex; justify-content: center; align-items: center; }
    .add-elem input[type=text] { border-radius: 5px; border: 2px solid #e10093; padding: 10px 15px; margin: 0 10px; }
    button {
        background-color: #e10093;
        color: #fff;
        padding: 10px 15px;
        border: 0;
        border-radius: 5px;
        font-size: 15px;
        text-decoration: none;
    }
    button:hover {
        background-color: #cc0085;
        text-decoration: none;
        cursor: pointer;
    }
    .delete-list { margin: 15px 0; }
</style>