<template>
  <div id="app">
    <AppHeader />
    <div class="container">
      <router-view class="app-content" ></router-view>
    </div>
    <AppFooter />
  </div>
</template>

<script>
  import AppHeader from './components/AppHeader.vue'
  import AppFooter from './components/AppFooter.vue'

  export default {
    name: 'App',
    components: {
      AppHeader,
      AppFooter,
    }
  }
</script>

<style>
  body { margin: 0;}
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container { width: 1200px; margin: 0 auto;}
</style>